<div matLine>
    <div class="line">
        <app-router-link (click)="selectHero(hero)" class="link">
            <span class="hero-id">{{hero.id}}</span>
            <span>{{hero.name}}</span>
        </app-router-link>
        <app-delete-icon-button #deleteButton (click)="deleteHero(hero)"></app-delete-icon-button>
    </div>
</div>
