
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$kleis-red: (
        A1: #a80c35,
        contrast: (
                A1: $light-primary-text
        )
);

$kleis-green: (
        A1: #0ca87e,
        contrast: (
                A1: $light-primary-text
        )
);

$kleis-dark-red: (
        A1: #a8300c,
        contrast: (
                A1: $light-primary-text
        )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kleis-app-primary: mat-palette($kleis-red, A1, A1, A1);
$kleis-app-accent: mat-palette($kleis-green, A1, A1, A1);

// The warn palette is optional (defaults to red).
$kleis-app-warn: mat-palette($kleis-dark-red, A1, A1, A1);

// Create the theme object (a Sass map containing all of the palettes).
$kleis-app-theme: mat-light-theme(
                $kleis-app-primary,
                $kleis-app-accent,
                $kleis-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kleis-app-theme);

