<!-- HEADER -->
<mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar">
        <a class="link" routerLink="/dashboard">
            <img alt="logo" class="logo" src="assets/kleis-logo.svg">
        </a>
        <mat-nav-list class="navigation">
            <a class="link" mat-list-item routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a class="link" mat-list-item routerLink="/heroes" routerLinkActive="active">Heroes</a>
        </mat-nav-list>
    </mat-toolbar-row>
</mat-toolbar>

<!-- MAIN -->
<div class="main-content">
    <h1 mat-title>{{title}}</h1>
    <router-outlet></router-outlet>
    <h2>Messages</h2>
    <button (click)="messageService.clear()" color="accent" mat-stroked-button>CLEAR</button>
    <div *ngIf="messageService.messages.length" class="message-list">
        <mat-list>
            <mat-list-item *ngFor='let message of messageService.messages'>
                <div>{{message}}</div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
</div>
